{% extends "layout.html" %}

{% block content %}
<h2>
    About
    <p style="font-size: 24px; margin-top: 0px;">Python and Flask</p>
</h2>

<h3>
    Python is powerful... and fast;<br>
    plays well with others;<br>
    runs everywhere;<br>
    is friendly &amp; easy to learn;<br>
    is Open.
</h3>

<h3>
    Flask is a microframework for Python<br>
    based on Werkzeug, Jinja 2 and good intentions.<br>
    And before you ask: It's BSD licensed!<br>
    <h3 style="font-size: medium">(BSD license: 오픈 소스를 기반으로 수정한 소스를 상용으로 배포가능한 라이센스)</h3>
</h3>
{% endblock %}
